= simple_form_for @season do |f|
  .row
    .span12
      = f.input :name, autofocus: true, input_html: { class: 'span12' }
      - if @season.competitions.any?
        = f.association :competitions, as: :check_boxes, collection: @competitions
      - else
        = "Keine Wettbewerbe zugeordnet"
        %br
  = f.submit "OK", class: 'btn btn-primary', id: "commit"
  = f.submit "Cancel", type: :reset, class: 'btn'