%h3
  = @league.name
.row
  .span6
    = render partial: "matchday", locals: { matchday: @league.matchdays.finished.last}
    = render partial: "board"
  .span6
    = render partial: "matchday", locals: { matchday: @league.matchdays.not_finished.first}
    %br
    = button_to "Go", run_matchday_league_path(@league, @league.matchdays.not_finished.first)