= simple_form_for competition, url: { action: action }, method: method, html: { class: 'form-horizontal' } do |f|
	.row
		.span12
			= f.input :name, autofocus: true, input_html: { class: 'span12' }
			- if competition.games.any?
				.row
					.span3
						= f.association :teams, as: :check_boxes, disabled: true
					.span6
						.text-warning
							= "Teams können nicht bearbeitet werden, solange Spiele angelegt sind"
							%br
							%br
							= link_to delete_matchdays_season_competition_path(season, competition), class: 'btn btn-warning' do
								%i.icon-trash
								= "Spieltage/Spiele löschen"
			- else
				= f.association :teams, as: :check_boxes
	= f.submit "OK", class: 'btn btn-primary', id: "commit"
	= f.submit "Cancel", type: :reset, class: 'btn'