%h1 Auslosung
%h2= "#{@matchday.number}. Spieltag, #{@matchday.competition.name}, #{@matchday.start}"
- if @matchday.can_be_drawed?
  %hr
  = link_to "Ziehung", perform_matchday_draw_path(@matchday), class: 'btn btn-link'
%hr
- if @matchday.has_games?
  = render partial: "matchdays/game", collection: @matchday.games
- else
  Keine Spiele verfügbar
