#games
  %h2
    = "#{@matchday.current_date_time.time}"
  .col-md-6
    %table.table-condensed.table-bordered
      = render partial: 'game', collection: @matchday.games.ordered
    - if @matchday.can_be_performed?
      .perform
        = link_to "Start", perform_matchday_path(@matchday), remote: true, class: "btn"
      = link_to "", perform_matchday_path(@matchday), remote: true, class: "btn", id: "Step"
  .col-md-6
    - if @matchday.has_board?
      = render partial: "leagues/board", locals: {league: @matchday.competition}

