%h1= "#{@matchday.number}. Spieltag, #{@matchday.competition.name}, #{@matchday.start}"
%hr
- if @matchday.has_games?
  = render partial: 'game', collection: @matchday.games
- else
  - if @matchday.can_be_drawed?
    = link_to "Auslosung ->", matchday_draws_path(@matchday), class: 'btn btn-link'
  - else
    Keine Spiele verfügbar
