!!! 5
%html.no-js
  %head
    = render "layouts/head"
    = javascript_include_tag "application"
  %body
    = render 'layouts/minibar'
    %div{class: "container" }
      #flash_area
        = render "layouts/flash_messages"
      .content
        = yield
      = render "layouts/footer"
